<div class="navbar-fixed-bottom" style="background:black none repeat scroll 0% 0%;color:#BFC9D3;position:RELATIVE;bottom: 0px;">
	<div class="container">
		<div class="row" style="padding-top:30px;">
			<div class="col-md-7">
				<p class="lead"> Designed and built with all the love in the world by the JH.</p>
			</div>
			<div class="col-md-5">
				<div>
					<h5 style="margin-bottom:15px;margin-left:18px;"><strong>CONTACT ME</strong></h5>
					<ul>
						<li><a href="/"><span aria-hidden="true"></span> &nbsp WECHAT</a></li>
						<li><a href="https://github.com/jomato"><span  aria-hidden="true"></span>&nbsp GITHUB</a></li>
						<li><a ><span  aria-hidden="true"></span>&nbsp EMAIL:<strong>jhmailnet@gmail.com</strong></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-12">
				<p> <small>© BY JH 2016</small></p>
			</div>
		</div>
	</div>
</div>

